:root {
    --gutter:20px;
    --bck: aqua;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing:border-box;
    font-size: 18px;
}
body,p,h1,h2,h3,ul,ol {
    margin: 0;
    padding: 0 ;
}
.header {
    background-color: var(--bck);
}
.container {
    background-color: #eee;
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > div {
padding: 15px;
margin: 0 auto;
background-color: wheat;
border: 1px solid gray; 
}
