* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    width: 1170px;
    margin:0 auto;
}

.box {
    background: rgb(13, 199, 190);}

.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    text-align: center;
}
.item-content {
    padding-left: 25px;
    text-align: left;
}
.number {
    font-size: 30px;
    padding-top: 15px;
}
.text {
    text-align:left;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
i.fa {
    font-size: 50px;

}